
.FrontPage{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

#UserInfo{
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
  align-items:baseline;
  text-align: left;



}

#SupervisorInfo{
  padding: .5em;

}


.button {
  background-color: #486b99;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input{
  margin-left: .25em;
  margin-right: .25em;
}

label{

  margin-left: .25em;
  margin-right: .25em;

}
